[Unit]
Description=HAProxy container that redirects to Red Hat Device Edge Page

[Container]
Label=app=haproxy
ContainerName=haproxy-app
Image=quay.io/rgopinat/haproxy
PublishPort=80:80
Restart=always

[Install]
WantedBy=multi-user.target default.target