[Unit]
Description=Hello world app

[Container]
Label=app=helloworld
Name=helloworld-app
Image=quay.io/rprakashg/helloworld
Port=8080:80
Restart=always

[Install]
WantedBy=multi-user.target default.target